 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #fff;
 }
    .container {
        max-width: 800px;
        margin: auto;
        background-color: #fff;
        padding: 40px;
        text-align: center;
    }
    h1, h2, h3 {
        color: #070E07;
    }
    h1 {
        font-size: 60px;
        text-align: center;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 60px;
        text-align:center;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    p {
        color: #000;
        line-height: 1.6;
        width: 40em;
    }
    .story {
        padding-top: 20px;
        text-align: center;
    }
    .empowerment-section {
        text-align: center;
        padding-top: 20px;
        margin-top: 40px;
    }
    .empowerment-section h3 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .recipients {
        margin-top: 20px;
    }
    .footer {
        text-align: center;
        margin-top: 60px;
    }
    .badges {
        display: flex;
        justify-content: center; /* Aligns items to the start of the container */
        align-items: center; /* Centers items vertically */
        gap: 10px; /* Adjust the space between the badges */
    }
    .badge {
        max-width: 150px; /* Adjust the width as necessary */
        height: auto; /* This ensures that the aspect ratio of the images is maintained */
    }

    /* Nav Bar responsiveness */
@media only screen and (max-width: 1400px){
    nav li a{
        padding: 10px 30px; /* Adjust padding so that the nav bar fits within the screen*/
    }
}

@media only screen and (max-width: 1300px){
    nav li {
       margin-right: 15px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 25px; /* Adjust padding so that the nav bar fits within the screen*/
    }
}


@media only screen and (max-width: 1178px){
    nav li {
       margin-right: 12px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 20px; /* Adjust padding so that the nav bar fits within the screen*/
    }
}

@media only screen and (max-width: 1040px){
    nav li {
       margin-right: 10px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 15px; /* Adjust padding so that the nav bar fits within the screen*/
    }

    nav li {
       display: inline-block;
       margin-right: 20px; /* Adjust spacing between buttons */
    }
}


@media only screen and (max-width: 854px){
    nav li {
       margin-right: 6px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 10px; /* Adjust padding so that the nav bar fits within the screen*/
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 10px 0;
        text-align: right;
        position: absolute;
        top: 50px;
        right: 0; /* Initially position it at right: 0 */
        background-color: #fff;
        padding: 12px;
        display: none; /* Initially hide the nav list */
    }

    .nav-list-open {
        display: block; /* Display the nav list when the class is added */
        animation: slideFromRight 0.5s forwards; /* Apply animation when nav list is open */
    }

    nav li {
        display: block; /* Change the display property to block */
        margin-bottom: 20px; /* Add margin bottom to separate list items */
    }

    nav li a {
        display: block; /* Change the display property to block */
        color: #013C30;
        text-decoration: none;
        font-family: 'League Spartan', serif;
        font-size: 15px;
        padding: 5px 10px; /* Adjust padding as needed */
    }

    .menu-toggle {
        display: flex;
        text-align: right;
        padding: 15px 60px 0px;
        cursor: pointer;
      }

    @keyframes slideFromRight {
        from {
            transform: translateX(100%); /* Start position */
        }
        to {
            transform: translateX(0); /* End position */
        }
    }
}