 body {
    margin: 0;
    padding: 40px;
    background-color: #fff;
 }
    .container {
        max-width: 800px;
        margin: auto;
        background-color: #fff;
        padding: 40px;
        text-align: center;
    }
    h1, h2, h3 {
        color: #000;
    }
    .container h1 {
        font-size: 55px;
        text-align: center;
        margin: 40px 0px 40px;
        font-family: "Archivo Black", sans-serif;
        letter-spacing: 5px;
    }
    .container h2 {
        font-size: 50px;
        text-align:center;
        margin-top: 60px;
        margin-bottom: 20px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
    }
    .container p {
        text-align: left;
        width: 60%;
        margin-left: 11em;
        color: #000;
        line-height: 1.6;
        font-family: "Roboto Flex", sans-serif;
        font-size: 24px;
    }
    .container p a {
        color: #000;
    }
    .story {
        padding-top: 20px;
        text-align: center;
    }
    .empowerment-section {
        text-align: center;
        padding-top: 20px;
        margin-top: 40px;
    }
    .empowerment-section h3 {
        font-size: 50px;
        margin-bottom: 20px;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
        color: black;
    }
    .recipients {
        margin-top: 20px;
    }
    .footer {
        text-align: center;
        margin-top: 60px;
    }
    .badges {
        display: flex;
        justify-content: center; /* Aligns items to the start of the container */
        align-items: center; /* Centers items vertically */
        gap: 10px; /* Adjust the space between the badges */
        width: 100%;
    }
    .badge {
        max-width: 35%; /* Adjust the width as necessary */
        height: auto !important; /* This ensures that the aspect ratio of the images is maintained */
    }


    /*Responsiveness*/

 @media only screen and (max-width: 768px) {
    .badge {
        max-width: 30%; /* Adjust the width as necessary */
        height: auto !important; /* This ensures that the aspect ratio of the images is maintained */
    }
 }

 @media only screen and (max-width: 540px) {
    .container h1 {
        font-size: 45px;
        margin-bottom: 30px;
    }
    .container h2 {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .container p {
        font-size: 18px;
    }
     .empowerment-section h3 {
        font-size: 40px;
    }
     .badge {
        width: 20%; /* Adjust the width as necessary */
        height: auto !important; /* This ensures that the aspect ratio of the images is maintained */
    }
 }