body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
    letter-spacing: 2px;
}

h1{
    margin-top: 0.8em;
}

h3 {
    text-transform: uppercase;
    margin: 20px auto 70px;
}

.account-info {
    margin: 3em 0;
}

.account-info input {
    height: 4vh;
    border: 3px solid #026451;
    padding: 3px 8px;
    font-size: 14px;
    width: 50%;
    margin-bottom: 2em;
    border-radius: 4px;
}

.account-info label {
    font-weight: 500;
}

.extra-info {
    width: 85%;
    margin: auto;
}

button {
    background-color: #026451;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    margin-top: 1em;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
}

.extra-info input,
.extra-info textarea {
    width: 100%;
    background-color: rgba(2, 100, 81, 0.1);
    height: 16vh;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.extra-info label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
}

form {
    width: 100%;
}

/* Responsiveness */

@media only screen and (max-width: 1040px){
    h1{
        font-size: 54px;
    }

    nav li {
       margin-right: 10px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 15px; /* Adjust padding so that the nav bar fits within the screen*/
    }

    .book-now {
        margin-top: 9em;
    }
    nav li {
       display: inline-block;
       margin-right: 20px; /* Adjust spacing between buttons */
    }
}

@media only screen and (max-width: 854px) {
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 28px;
    }
}

@media only screen and (max-width: 760px) {
    h1{
        font-size: 48px;
    }
    h3{
        font-size: 26px;
    }
}

@media only screen and (max-width: 580px){
    h1{
        font-size: 45px;
    }
    h3{
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px){
    h1{
        font-size: 42px;
    }
    h3{
        font-size: 23px;
    }
}

@media only screen and (max-width: 430px){
    h1{
        font-size: 36px;
    }
    h3{
        font-size: 21px;
    }
}