 body {
  font-family: 'Arial', sans-serif; /* Replace with the specific font used */
  margin: 0;
  padding: 0;
  background: #ffffff; /* Replace with the exact background color if needed */
}

.faq-container {
  max-width: 600px; /* Adjust as needed for your design */
  margin: 40px auto;
  padding: 20px;
  margin-bottom: 20px;

}

.faq-container h1 {
  font-size: 58px;
  text-align: center;
  margin-bottom: 80px;
    letter-spacing: 5px;
}

.faq-item {
  /* border-bottom: 1px solid #ccc; /* Add a border color as per design */
  padding-bottom: 20px;
  margin-bottom: 10px;
}
li {
    margin-bottom: 10px;
}

.question, .answer {
  font-size: 24px;
  line-height: 1.4;
  font-family: "Roboto Flex", sans-serif;
}

.question {
  font-weight: 400;
  margin-bottom: 5px;
  color: #026451;
}
.answer {
  display: none;
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  opacity: 0; /* Initially hide the answer */
  color: black;
  font-size: 17px;
  letter-spacing: 2px;
  border: 1.5px solid #026451;
  padding: 20px;
}

.answer.active {
  display: block;
  opacity: 1;
}

.question {
  cursor: pointer; /* Change cursor to indicate it's clickable */
  font-weight: normal; /* Reset font weight */
}
.question.bold {
  font-weight: bold; /* Bold font weight */
}



/* Additional styles for responsiveness and aesthetics may be necessary */

@media only screen and (max-width: 854px) {
    .question {
        font-size: 22px;
    }
    .answer {
        font-size: 16px;
    }
    .faq-container h1 {
        font-size: 54px;
    }
}

@media only screen and (max-width: 594px) {
    .question {
        font-size: 18px;
    }
    .answer {
        font-size: 15px;
    }
    .faq-container h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .question {
        font-size: 17px;
    }
    .answer {
        font-size: 14px;
    }
    .faq-container h1 {
        font-size: 45px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 432px) {
    .faq-container h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
}