body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 2px;
    margin-top: 1.5em;
}

.login-body {
    margin: 10vh auto; /* Adjust as needed */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    width: 80%;
    font-family: "Roboto Flex", sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
}

.login-body form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.username,
.email,
.password {
    margin: 1em auto;
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: 80%;
}

.login-form input{
    border: none;
    height: 4vh;
    font-size: 18px;
    font-family: "Roboto Flex", sans-serif;
    letter-spacing: 2px;
    width: 73%;
    padding: 5px;
}

.login-form input:focus{
    outline: none;
    border-radius: 0;
    background-color: rgba(2, 100, 81, 0.1);
}

button {
    background-color: #026451;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    margin-top: 1em;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
}

.login-form button {
    width: 18%;
    margin-top: 3em;
}

.signup-link {
    text-align: center;
}

.signup-link button{
    width: 14%;
}

.signup-link a {
    text-decoration: none;
    color: white;
}

.login-form p {
    margin-left: 55%;
}

.login-form p a{
    text-decoration: none;
    color: #013C30;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.login-form p a:hover {
    font-weight: 600;
    text-decoration: underline;
}


/* Responsive */
@media only screen and (max-width: 1240px) {
    .login-form input {
        width: 65%;
    }
}

@media only screen and (max-width: 1040px) {
    .login-form input {
        width: 55%;
    }

    .login-form button {
        width: 22%;
    }

    .signup-link button{
        width: 18%;
    }
}

@media only screen and (max-width: 854px) {
     .login-form input{
        font-size: 16px;
    }

    .login-body {
        font-size: 24px;
        width: 85%;
    }
}

@media only screen and (max-width: 734px) {
     .login-form input{
        font-size: 16px;
    }

    .login-body {
        font-size: 24px;
        width: 85%;
    }
    .login-form button {
        width: 26%;
    }

    .signup-link button{
        width: 22%;
    }
}

@media only screen and (max-width: 626px) {
     .login-form input{
        font-size: 15px;
        width: 50%;
    }

    .login-body {
        font-size: 22px;
        width: 85%;
    }
    .login-form button {
        width: 36%;
    }

    .signup-link button{
        width: 32%;
    }
}

@media only screen and (max-width: 530px){
    .login-form input{
        width: 90%;
    }

    h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 480px){
    .login-form input{
        font-size: 15px;
        width: 90%;
    }

    .login-body {
        font-size: 18px;
    }

    h1 {
        font-size: 46px;
    }
}

@media only screen and (max-width: 435px){

    .login-body {
        font-size: 17px;
    }

    h1 {
        font-size: 44px;
    }

    .login-form p a {
        font-size: 11px;
    }

    .login-form button {
        width: 40%;
    }

    .signup-link button{
        width: 36%;
    }
}
