 .membership-body {
  font-family: "Roboto Flex", sans-serif; /* Replace with the specific font used */
  margin: 0;
  padding: 0;
  background: #ffffff; /* Replace with the exact background color if needed */
  font-size: 16px; /* Base font size */
}

.membership-container {
  width: 80%; /* Adjust as needed for your design */
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 1em;
}
.membership-info, notsofine-info, options-info {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 250;
  font-size: 1em;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #013C30;
}

.bullet-list {
  text-align: left;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  color: #000;
}
.bullet-list li {
  margin-bottom: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}
.notbullet li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
}
.header {
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 4em;
    padding: 20px;
}
.header1 {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  color: #013C30;
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 55px /* Adjust font size for smaller screens */
    /* Other styles for smaller screens */
  }

  .header1{
    font-size: 32px;
  }
}

 @media screen and (max-width: 560px) {
  .header {
    font-size: 48px; /* Adjust font size for smaller screens */
    /* Other styles for smaller screens */
    padding: 20px 0;
  }

  .header1{
    font-size: 30px;
  }

  body {
    font-size: 15px;
  }
}