body {
    background-color: #ffffff;
    color: #000;
    margin: 0;
}

.services-body{
    padding: 20px;
}
.services-body h2 {
    margin-top: 40px;
    text-align: center;
}

.tagline {
    margin-top: -30px;
    font-weight: 500;
    font-size:32px;
    font-family: "Archivo", sans-serif;
    color: #026451;
    text-align: center;
    margin-bottom: 30px;
}

.left,
.right {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-text,
.right-text {
    width: 50%;
    text-align: center;
}

.left p,
.right p {
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    color: #000;
    font-size: 28px;
    letter-spacing: 2px;
}

.left p.green-title,
.right p.green-title {
    font-weight: 600;
    font-family: "Roboto Flex", sans-serif;
    text-align: center;
    color: #013C30;
    margin-top: 25px;
    margin-bottom: 0;
}

.left p.black-title,
.right p.black-title {
    font-weight: 700;
    color: #000;
    font-size: 30px;
}

.book-now {
    margin-top: 3em!important;
}

.book-now button {
    margin-top: 0;
    background-color: #026451;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.book-now button a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.book-now button:hover {
    background-color: #013C30; /* A little darker background on hover */
}

.leaves2-icon {
    width: 90%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
    float: right;
    margin-right: 20px;
}

.left h3,
.right h3{
    font-family: "Archivo", sans-serif;
    font-size: 54px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 3px;
}

.leaves3-icon {
    width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
    margin-left: 20px;
}

@media only screen and (max-width: 854px) {
    .services-body h2{
        font-size: 54px;
    }

    .left-text,
    .right-text {
        width: 60%;
    }

    .left p,
    .right p {
        font-size: 26px;
    }

    .left h3,
    .right h3{
        font-size: 48px;
    }

    .parent-container {
        width: 40%;
    }
}

@media only screen and (max-width: 624px) {
    .services-body h2{
        font-size: 48px;
    }

    .tagline {
        font-size:28px;
    }

    .left h3,
    .right h3{
        font-size: 44px;
    }
}

@media only screen and (max-width: 580px) {
    .left,
    .right {
        flex-direction: column;
    }

    .right {
        flex-direction: column-reverse;
    }

    .left-text,
    .right-text {
        width: 100%;
    }

    .parent-container {
        width: 100%;
        text-align: center;
    }

    .leaves3-icon,
    .leaves2-icon {
        margin: 0;
        float: none;
    }
}

@media only screen and (max-width: 435px){
    .services-body h2{
        font-size: 45px;
    }

    .tagline {
        font-size:22px;
    }

    .left h3,
    .right h3{
        font-size: 40px;
    }

    .left p,
    .right p {
        font-size: 22px;
    }
}
