body{
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 40px;
    text-align: center;
}

.login-form .password2 input{
    width: 60%;
}

.signup-link {
    margin-top: 0;
    width: 80%;
}

.signup-link button {
    width: 20%!important;
    margin: auto;
}

.login-form .email input{
    width: 80%;
}

/* Responsiveness */
@media only screen and (max-width: 1040px) {
    .signup-link button {
        width: 25%!important;
    }

    .login-form .password2 input{
        width: 45%;
    }

    .login-form .email input{
        width: 70%;
    }
}

@media only screen and (max-width: 820px) {
    .signup-link button {
        width: 30%!important;
    }
}