/* Main colors as CSS Variables */
:root {
   --forest_green: #123D14;
   --emerald_green: #1D4D45;
   --creamy_forest: #3a5a40;
   --gold: #D4AF37;
   --old_gold: #CEC03D;
   --vanilla: #EEE0B0;
   --ivory: #FDFBEB;
   --stark_white: #FDFDFD;
   --night: #070E07;
   --black: #000000;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}

/* Navigation Bar */
nav {
    background-color: #ffffff; /* Background color of the navigation bar */
    padding: 10px 0;
    text-align: center;
}


nav ul {
   list-style-type: none;
   margin: 0;
   padding: 10px 0;
   text-align: center; /* Center align the list items */
}


nav li {
   display: inline-block;
   margin-right: 20px; /* Adjust spacing between buttons */
}


nav li a {
    color: #013C30; /* Text color of the buttons */
    text-decoration: none;
    padding: 10px 35px; /* Adjust padding as needed */
    border: 1px solid #ffffff; /* Border around buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    font-family: 'League Spartan', serif;
    font-weight: 500;
    font-size: 15px;
}


nav li a:hover {
    color: black;
    font-weight: bold; /* Make the text bolder on hover */
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    font-size: 14pt;
}


/* Index Content */

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
}

.container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 50px; /* Adjust as needed */
}

.logo-icon {
    max-width: 700px; /* Adjust based on actual size of the diamond icon */
    height: auto !important;
    display: flex;
    margin: 20px auto;
}

.mission {
    margin: 5em 0em 7em; /* Adjust as needed */
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.mission-div {
    width: 50%;
}

.image {
    width: 50%;
}

.mission img {
    width: 70%;
    height: auto;
    margin-left: 50px;
}

h2 {
    font-size: 64px; /* Adjust as needed */
    margin-bottom: 40px;
    letter-spacing: 7px;
}

.book-now {
    margin-top: 10em; /* Adjust margin as needed */
}

.book-now h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.book-now button {
    margin-bottom: 30px;
    background-color: #026451;
    border: none;
    padding: 15px 70px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.book-now button a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}

.book-now button:hover {
    background-color: #013C30; /* A little darker background on hover */
}

.founder {
    margin: auto;
    margin-bottom: 50px; /* Adjust as needed */
    width: 65%;
}

.founder h2 {
    margin-bottom: 0px;
}

h3 {
    font-size: 32px; /* Adjust as needed */
    margin: 5px 0 15px;
    color: #013C30;
    font-family: "Archivo", sans-serif;
}

.founder-photo {
    max-width: 200px; /* Adjust based on actual size of founder's photo */
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 28px; /* Adjust as needed */
    line-height: 1.5; /* Adjust as needed */
    color: #000; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
    text-align: left;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
}

footer {
    background-color: #013C30;
    position: fixed;
    bottom: 0;
    left: 0;
    height: .8em;
    width: 100%;
}

/* Responsiveness for Nav bar */

@media only screen and (max-width: 1400px){
    nav li a{
        padding: 10px 30px; /* Adjust padding so that the nav bar fits within the screen*/
    }
}

@media only screen and (max-width: 1300px){
    nav li {
       margin-right: 15px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 25px; /* Adjust padding so that the nav bar fits within the screen*/
    }

    .book-now {
        margin-top: 14em; /* Adjust margin top of the div so less white space between book now and our mission */
    }
}


@media only screen and (max-width: 1178px){
    nav li {
       margin-right: 12px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 20px; /* Adjust padding so that the nav bar fits within the screen*/
    }

    .book-now {
        margin-top: 10em;
    }
}

@media only screen and (max-width: 1040px){
    nav li {
       margin-right: 10px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 15px; /* Adjust padding so that the nav bar fits within the screen*/
    }

    .book-now {
        margin-top: 9em;
    }
    nav li {
       display: inline-block;
       margin-right: 20px; /* Adjust spacing between buttons */
    }
}


@media only screen and (max-width: 854px){
    nav li {
       margin-right: 6px; /* Adjust spacing between buttons */
    }

    nav li a{
        padding: 10px 10px; /* Adjust padding so that the nav bar fits within the screen*/
    }

    .book-now {
        margin-top: 9em;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 10px 0;
        text-align: right;
        position: absolute;
        top: 50px;
        right: 0; /* Initially position it at right: 0 */
        background-color: #fff;
        padding: 12px;
        display: none; /* Initially hide the nav list */
    }

    .nav-list-open {
        display: block; /* Display the nav list when the class is added */
        animation: slideFromRight 0.5s forwards; /* Apply animation when nav list is open */
    }

    nav li {
        display: block; /* Change the display property to block */
        margin-bottom: 20px; /* Add margin bottom to separate list items */
    }

    nav li a {
        display: block; /* Change the display property to block */
        color: #013C30;
        text-decoration: none;
        font-family: 'League Spartan', serif;
        font-size: 15px;
        padding: 5px 10px; /* Adjust padding as needed */
    }

    .menu-toggle {
        display: flex;
        text-align: right;
        padding: 15px 60px 0px;
        cursor: pointer;
      }

    @keyframes slideFromRight {
        from {
            transform: translateX(100%); /* Start position */
        }
        to {
            transform: translateX(0); /* End position */
        }
    }
}

