<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Empire Body Waxing</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/contact_style.css' %}">

    <!-- This is the font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <!-- This is the kit for importing icons -->
    <script src="https://kit.fontawesome.com/ad9fa19830.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'st_george' %}">ST. GEORGE HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'services' %}">SERVICES</a></li>
            <li><a href="{% url 'memberships' %}">MEMBERSHIPS</a></li>
            <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
        </ul>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
    <h2>CONTACT US</h2>
    <h3>REACH OUR TEAM</h3>
    <div class="contact-box">
        <form id="contact-form" onsubmit="sendEmail(); reset(); return false;">
            <div class="contact-info">
                <div class="name">
                    <label for="name">NAME</label>
                    <input type="text" id="name" required>
                </div>
                <div class="email">
                    <label for="email">EMAIL</label>
                    <input type="email" id="email" required>
                </div>
                <div class="phone">
                    <label for="phone">PHONE</label>
                    <input type="tel" id="phone" required>
                </div>
            </div>

            <label for="question">QUESTIONS OR COMMENTS</label>
            <textarea id="question" cols="20" rows="8" required></textarea>
            <button type="submit">SUBMIT</button>
        </form>
    </div>

    <div id="sent-popup" class="popup">
        <div class="popup-content">
            <p>Your message has been sent. Thank you for connecting!</p>
        </div>
    </div>

    <div id="not-sent-popup" class="popup">
        <div class="popup-content">
            <p>Your message cannot be sent due to an error.</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'webapp/script.js' %}"></script>
    <!-- For sending emails -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>