<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/images' %}">
    <link rel="stylesheet" href="{% static 'webapp/faq_style.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <!-- This is the kit for importing icons -->
    <script src="https://kit.fontawesome.com/ad9fa19830.js" crossorigin="anonymous"></script></head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'st_george' %}">ST. GEORGE HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'services' %}">SERVICES</a></li>
            <li><a href="{% url 'memberships' %}">MEMBERSHIPS</a></li>
            <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
        </ul>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
  <div class="faq-container">
    <h1> F.A.Q </h1>

    <!-- Question 1 -->
    <div class="faq-item">
      <div class="question" onclick="toggleAnswer(this)">1. What is the best way to schedule an appointment? <i class="fas fa-caret-down"></i> </div>
      <div class="answer"> <ul>
        <li>The “Book Now” Tab in our profile</li>
        <li>The Vagaro App</li>
        <li>Our Booking Website: <a href= "https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type"> Link to the website </a></li>
        <li>Call/Text <a href="tel:801-896-7007">801-896-7007</a></li>
    </ul> </div>
    </div>
      <!-- Question 2 -->
    <div class="faq-item">
      <div class="question" onclick="toggleAnswer(this)">2. How long does hair need to be? Should I trim? <i class="fas fa-caret-down"></i>  </div>
      <div class="answer">Hair needs to be at least 1/4’’ in length (grain of rice). Longer is better for a first-time wax. DO NOT TRIM. There is no such thing as “too long” but there is such thing as “too short”.</div>
    </div>

    <!-- Question 3 -->
    <div class="faq-item">
      <div class="question" onclick="toggleAnswer(this)">3. How long does a wax last? <i class="fas fa-caret-down"></i> </div>
      <div class="answer">A first-timer can expect new growth by week 2. This is due to your current hair growth cycles. Normally, by your 3rd or 4th wax we have your cycles synced up and we are pulling all the hair at the same time. This results in being smooth for weeks and right as hair starts to grow, it’s time for your wax! 4 weeks is the sweet spot for 98% of clients.  </div>
    </div>

    <!-- Question 4 -->
     <div class="faq-item">
      <div class="question" onclick="toggleAnswer(this)">4. I’m plus-size, can I get waxed?<i class="fas fa-caret-down"></i> </div>
      <div class="answer"> Heck yes you can! Empire waxes Every Body! We don’t charge any more or wax any less based on your body type. Get in here!</div>
    </div>

      <!-- Question 5 -->
    <div class="faq-item">
      <div class="question" onclick="toggleAnswer(this)">5. What kind of wax do you use?<i class="fas fa-caret-down"> </i></div>
      <div class="answer"> For our Brazilian Waxes we use a combination of hard and soft wax.<br>
Hard wax tends to be a little more gentle on the skin so we use it on the labia and scrotum.<br>
Our soft wax is great for even the most sensitive of skin types and that’s what we use on everything else from eyebrows to toes! </div>
    </div>
    <!-- Question 6 -->
    <div class="faq-item">
      <div class="question" onclick="toggleAnswer(this)">6. Do you wax men?<i class="fas fa-caret-down"></i></div>
      <div class="answer"> Empire offers waxing for Every Body. We have full body services (back, chest, legs, etc.) and we have services that are Vulva exclusive & Scrotum exclusive!</div>
    </div>
     <!-- Question 7 -->
     <div class="faq-item">
         <div class="question" onclick="toggleAnswer(this)">7. Is it painful?<i class="fas fa-caret-down"> </i></div>
      <div class="answer">We don’t like the word “painful.” Keep in mind, we are removing your hair. We like the term “spicy” because it’s quick and it’s worth it.<br>
We use high-quality wax (imported from Australia) and we don’t see the same irritation levels as other waxes. We also have a proprietary technique/protocol that is unmatched. </div>
    </div>

    <!-- Question 8 -->
    <div class="faq-item">
      <div class="question" onclick="toggleAnswer(this)">8. Can I get waxed on my period?<i class="fas fa-caret-down"></i> </div>
      <div class="answer">Yes you can! <br> We do require the use of a tampon (available in the salon) or a cup.</div>
    </div>

    <!-- Add more FAQ items here if needed -->
  </div>

    <footer>&nbsp;</footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'webapp/script.js' %}"></script>
</body>
</html>