<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Empire Body Waxing</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
</head>
<body>

    <nav>
    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'st_george' %}">ST. GEORGE HOME</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'services' %}">SERVICES</a></li>
        <li><a href="{% url 'memberships' %}">MEMBERSHIPS</a></li>
        <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
        <li><a href="{% url 'login' %}">LOGIN</a></li>
    </ul>
    </nav>
    
     <div class="container">
        <h1 class="giant-title">Empire Body Waxing</h1>
    </div>
    
<footer>
        <ul>
            <li><a href="https://example.com/facebook">Facebook</a></li>
            <li><a href="https://example.com/twitter">Twitter</a></li>
        </ul>
</footer>
</body>
</html>