<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Empire Body Waxing</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/login.css' %}">

    <!-- This is the font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <!-- This is the kit for importing icons -->
    <script src="https://kit.fontawesome.com/ad9fa19830.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'st_george' %}">ST. GEORGE HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'services' %}">SERVICES</a></li>
            <li><a href="{% url 'memberships' %}">MEMBERSHIPS</a></li>
            <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
        </ul>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    <h1>LOG-IN</h1>
    <div class="login-body">
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="username">
                <label for="id_username">Username :</label>
                {{ form.username }}
            </div>
            <div class="password">
                <label for="id_password">Password : </label>
                {{ form.password }}
            </div>
            <p><a href="/forgot_password/">Forgot Password?</a></p>
            <button type="submit"><a>LOG IN</a></button>
        </form>
        <div class ="signup-link">
            <button><a href="{% url 'signup' %}">SIGN UP</a></button>
        </div>
    </div>
    <footer>&nbsp;</footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'webapp/script.js' %}"></script>
    <script>
        function submitForm() {
            sendReset();
            window.location.href = "/password_reset_confirmation/";
        }
    </script>
</body>
</html>