<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mood Board</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
</head>
<body>
    <div class="swatches-1">
        <p class="oleo-script-bold">Creamy Forest</p>
    </div>
    <div class="swatches-2">
        <p class="oleo-script-regular">Forest Green</p>
    </div>
    <div class="swatches-3">
        <p>Emerald Green</p>
    </div>
    <div class="swatches-4">
        <p>Gold</p>
    </div>
    <div class="swatches-5">
        <p>Old Gold</p>
    </div>
    <div class="swatches-6">
        <p>Vanilla</p>
    </div>
    <div class="swatches-7">
        <p>Ivory</p>
    </div>
    <div class="swatches-8">
        <p>Stark White</p>
    </div>
    <div class="swatches-9">
        <p>Night</p>
    </div>
    <div class="swatches-10">
        <p>Black</p>
    </div>
</body>
</html>