<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'st_george' %}">ST. GEORGE HOME</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'services' %}">SERVICES</a></li>
        <li><a href="{% url 'memberships' %}">MEMBERSHIPS</a></li>
        <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
        <li><a href="{% url 'login' %}">LOGIN</a></li>
    </ul>
    </nav>
    
     <div class="container">
        <h1 class="giant-title">Account Information</h1>
         <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ account.name }}"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ account.email }}"><br>
        <label for="purchase_history">Purchase History:</label>
        <textarea id="purchase_history" name="purchase_history">{{ account.purchase_history }}</textarea><br>
        <label for="wallet">Wallet:</label>
        <input type="text" id="wallet" name="wallet" value="{{ account.wallet }}"><br>
        <button type="submit">Save Changes</button>
    </form>
    </div>

    <footer>&nbsp;</footer>

</body>
</html>