<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/servicesstyle.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <!-- This is the kit for importing icons -->
    <script src="https://kit.fontawesome.com/ad9fa19830.js" crossorigin="anonymous"></script></head><meta charset="UTF-8">
    <title>Services | Empire Body Waxing</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'st_george' %}">ST. GEORGE HOME</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'services' %}">SERVICES</a></li>
        <li><a href="{% url 'memberships' %}">MEMBERSHIPS</a></li>
        <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
        <li><a href="{% url 'login' %}">LOGIN</a></li>
    </ul>
    <div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>
    </nav>
<h2>SERVICES</h2>
<p class="tagline">FRIENDS DON'T LET FRIENDS SHAVE</p>
<div class="left">
    <h3>VULVA EXCLUSIVE</h3>
    <p3>BRAZILIAN</p3>
    <p1>[As much or as little as you like + Inner Glutes]</p1>
    <p2>BRAZILIAN EXTENDED</p2>
    <p>[Brazilian + Inner Glutes]</p>
    <div class="parent-container">
        <img src="{% static 'webapp/images/services/leaves.png' %}" alt="leaves1" class = "leaves2-icon">
    </div>
    <div class="book-now">
            <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
        </div>
</div>
<div class="right">
    <h3>SCROTUM EXCLUSIVE</h3>
    <p3>BRAZILIAN</p3>
    <p1>[As much or as little as you like + Inner Glutes]</p1>
    <p2>BRAZILIAN EXTENDED</p2>
    <p>[Brazilian + Inner Glutes]</p>
    <p4>SACK + CRACK</p4>
    <p5>[Scrotum + Inner Glutes]</p5>
    <div class="parent-container">
        <img src="{% static 'webapp/images/services/leaves1.png' %}" alt="leaves1" class = "leaves3-icon">
    </div>
    <div class="book-now2">
            <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
        </div>
</div>
<div class="left">
    <h4>WAXING FOR EVERY BODY</h4>
    <p3>FACE</p3>
    <p4>[Cheeks, Chin, Upper Lip, Nose]</p4>
    <p3>BODY</p3>
    <p5>[Neckline, Underarms, Arms, Chest, Stomach, Back, Legs, Glutes]</p5>
    <div class="parent-container">
        <img src="{% static 'webapp/images/services/leaves2.png' %}" alt="leaves2" class = "leaves4-icon">
    </div>
    <div class="book-now3">
            <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
        </div>
</div>
<div class="right">
    <h5>EYEBROWS & EYELASHES</h5>
    <p6>EYEBROWS</p6>
    <p7>BROW SHAPING</p7>
    <p8>[Map, Trim, Wax, Highlight + Fill]</p8>
    <p9>BROW TINT</p9>
    <p10>[lasts up to 6 weeks]</p10>
    <p12> BROW LAMINATION</p12>
    <p11>[Includes brow shaping]</p11>
    <p13> UNIBROW CLEANUP</p13>
    <p6> EYELASHES</p6>
    <p9> LASH TINT </p9>
    <p10> [lasts up to 6 weeks]</p10>
    <p9> LUSH LIFT</p9>
    <p9> [Lash Lift] </p9>
    <div class="parent-container">
        <img src="{% static 'webapp/images/services/leaves3.png' %}" alt="leaves" class = "leaves5-icon">
    </div>
    <!-- Add more sections as needed -->
    <div class="book-now4">
            <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
        </div>
</div>

    <footer>&nbsp;</footer>

<!-- Add more service sections as needed -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'webapp/script.js' %}"></script>

</body>
</html>