<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/servicesstyle.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <!-- This is the kit for importing icons -->
    <script src="https://kit.fontawesome.com/ad9fa19830.js" crossorigin="anonymous"></script></head><meta charset="UTF-8">
    <title>Services | Empire Body Waxing</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'st_george' %}">ST. GEORGE HOME</a></li>
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'services' %}">SERVICES</a></li>
        <li><a href="{% url 'memberships' %}">MEMBERSHIPS</a></li>
        <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
        <li><a href="{% url 'login' %}">LOGIN</a></li>
    </ul>
    <div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>
    </nav>
    <div class="services-body">
        <h2>SERVICES</h2>
        <p class="tagline">FRIENDS DON'T LET FRIENDS SHAVE</p>
        <div class="left">
            <div class="left-text">
                <h3>VULVA EXCLUSIVE</h3>
                <p class="green-title">BRAZILIAN</p>
                <p>[As much or as little as you like + Inner Glutes]</p>
                <p class="green-title">BRAZILIAN EXTENDED</p>
                <p>[Brazilian + Inner Glutes]</p>
                <div class="book-now">
                    <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
                </div>
            </div>
            <div class="parent-container">
                <img src="{% static 'webapp/images/services/leaves.png' %}" alt="plant picture 1" class = "leaves2-icon">
            </div>

        </div>
        <div class="right">
            <div class="parent-container">
                <img src="{% static 'webapp/images/services/leaves1.png' %}" alt="plant picture 2" class = "leaves3-icon">
            </div>
            <div class="right-text">
                <h3>SCROTUM EXCLUSIVE</h3>
                <p class="green-title">BRAZILIAN</p>
                <p>[As much or as little as you like + Inner Glutes]</p>
                <p class="green-title">BRAZILIAN EXTENDED</p>
                <p>[Brazilian + Inner Glutes]</p>
                <p class="green-title">SACK + CRACK</p>
                <p>[Scrotum + Inner Glutes]</p>
                <div class="book-now">
                    <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="left-text">
                <h3>WAXING FOR EVERY BODY</h3>
                <p class="green-title">FACE</p>
                <p>[Cheeks, Chin, Upper Lip, Nose]</p>
                <p class="green-title">BODY</p>
                <p>[Neckline, Underarms, Arms, Chest, Stomach, Back, Legs, Glutes]</p>
                <div class="book-now">
                    <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
                </div>
            </div>
            <div class="parent-container">
                <img src="{% static 'webapp/images/services/leaves2.png' %}" alt="plant picture 3" class = "leaves2-icon">
            </div>
        </div>
        <div class="right">
            <div class="parent-container">
                <img src="{% static 'webapp/images/services/leaves3.png' %}" alt="leaves" class = "leaves3-icon">
            </div>
            <div class="right-text">
                <h3>EYEBROWS & EYELASHES</h3>
                <p class="black-title">EYEBROWS</p>
                <p class="green-title">BROW SHAPING</p>
                <p>[Map, Trim, Wax, Highlight + Fill]</p>
                <p class="green-title">BROW TINT</p>
                <p>[lasts up to 6 weeks]</p>
                <p class="green-title"> BROW LAMINATION</p>
                <p>[Includes brow shaping]</p>
                <p class="green-title"> UNIBROW CLEANUP</p>
                <p class="black-title"> EYELASHES</p>
                <p class="green-title"> LASH TINT </p>
                <p> [lasts up to 6 weeks]</p>
                <p class="green-title"> LUSH LIFT</p>
                <p> [Lash Lift] </p>
                <div class="book-now">
                    <button><a href="https://dashboard.boulevard.io/booking/businesses/ad0bba7b-526d-477c-9f9f-dd214341b808/widget#/visit-type" target="_blank">BOOK NOW</a></button>
                </div>
            </div>
        </div>
    </div>

    <footer>&nbsp;</footer>

<!-- Add more service sections as needed -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'webapp/script.js' %}"></script>

</body>
</html>