<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page | Empire Body Waxing</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <p>SIGN UP</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="signup">
            <button><a type="submit">SIGN UP</a></button>
        </div>
    </form>
</body>
</html>